
<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Abbvie</title>
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">

        <!-- endbower -->
        <!-- endbuild -->
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="container">

            <div id="center">

                <div class="wheel-container">
    
                    <canvas id="wheel" data-wheel-center="images/wheel_center.png"
                                    data-sound="sounds/tictac.mp3"
                                    data-sound-true="sounds/bonne_reponse.mp3"
                                    data-sound-false="sounds/mauvaise_reponse.mp3"></canvas>

                    <div class="cursor"></div>

                </div>

                <div class="buttons">
                    <div class="button-ext"></div>
                    <div class="button-int"></div>
                </div>

            </div>

            <div class="info">
                <div>
                    <p class="participant">
                        Équipe <span class="info-title"></span>
                    </p>
                    <div class="objection">
                        <p class="info-objection"></p>
                        <p class="responses-objection">
                            
                        </p>
                    </div>
                </div>
            </div>
            
        </div>

        <script src="scripts/main.js"></script>
</body>
</html>
